.username-toolbar{
    font-size: 12pt;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.vertical-align{
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-sidenav-container{
  background-image: url("../assets/images/background/bg3.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}

button.mat-icon-button.ng-star-inserted {
  width:50%;
}

.margin-align {
  font-weight: lighter;
  margin-left: 5px;
}

.logo {
  margin-left: -140px;
  width: 20px;
  height: auto;
}

.opaque {
  font-weight: lighter;
}
