<div class="background">
  <div style="padding: 20px;">
    <mat-card width="50%">
      <div class="grid-container-3">
        <div class="grid-item-3">
          <div class="avatar-image" style="margin-top: 40px;">
            <img [src]="imageToShow">
          </div>
        </div>

        <div class="grid-item-3">
          <div flex-end>
            <div layout="column">
              <div layout="row">
                <div flex></div>
                <div flex-end>
                  <button mat-icon-button (click)="editAvatar()">
                    <mat-icon class="icon">mode_edit</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <table style="text-align: left">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" disabled value="{{user?.username | titlecase}}">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Class" disabled value="{{user?.avatarClass.name}}">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Race" disabled value="{{user?.avatarRace.name}}">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title class="card-title">{{"DEVELOPER.ABOUTME" | translate}}:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="stitched">{{user?.aboutMe}}</p>
      </mat-card-content>
    </mat-card>

    <div class="grid-container">
      <div class="grid-item">
        <mat-card>
          <mat-card-title class="card-title">{{"ARTEFACT.ARTEFACTS" | translate}}:</mat-card-title>
          <mat-card-content>
            <div class="stitched-orange">
              <div *ngFor="let artefact of user?.artefacts">
                <table>
                  <tr>
                    <td>
                      <i [matTooltip]="'Name:' + artefact.name + '\nSkills: ' + createSkillsList(artefact)"
                         [matTooltipClass]="'tooltipMultiline'"
                         matTooltipPosition="after" class="ra ra-3x" [ngClass]="artefact.icon"></i>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;{{artefact.name}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="grid-item">
        <mat-card>
          <mat-card-title class="card-title">Stats:</mat-card-title>
          <mat-card-content>
            <div class="stitched">
              <div class="grid-container-stats">
                <div class="grid-item grid-label">{{"DEVELOPER.LEVEL"| translate}} <i class="ra ra-archery-target ra-lg" style="color: darkgreen"></i></div>
                <div class="grid-item grid-label">{{"GLOBAL.GOLD"| translate}}  <i class="ra ra-gold-bar ra-lg" style="color: goldenrod"></i></div>
                <div class="grid-item grid-label">{{"GLOBAL.XP"| translate}} <i class="ra ra-archer ra-lg" style="color: darkred"></i></div>
                <div class="grid-item grid-ref">{{level}}</div>
                <div class="grid-item grid-ref">{{user?.gold}}</div>
                <div class="grid-item grid-ref">{{user?.xp}}/{{user?.level.maxXp}}</div>
              </div>
              <div style="padding-top: 10px;">
                <mat-progress-bar flex mode="determinate" [value]="XPpercent"></mat-progress-bar>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="grid-item">
        <mat-card>
          <mat-card-title class="card-title">{{"DEVELOPER.TROPHIES" | translate}}:</mat-card-title>
          <mat-card-content>
            <p class="stitched-orange">Coming Soon...</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
