<mat-card-content>
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Config Name" [(ngModel)]="configName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="SonarQube URL" [(ngModel)]="sonarQubeUrl">
    </mat-form-field>
    <button mat-button mat-stroked-button color="primary" color="primary" (click)="checkSonarCubeUrl()">Check URL</button>
    <br><br><br>

    <mat-form-field>
      <input matInput placeholder="Http Basic Auth Username" [(ngModel)]="httpBasicAuthUsername">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Http Basic Auth Password" [(ngModel)]="httpBasicAuthPassword" type="password">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Organization" [(ngModel)]="organization" type="text">
    </mat-form-field>

    <div>
      <button mat-button mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</mat-card-content>
